@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --coal: #0D0D0D;
  --chalk: #F0F0EB;
  --volt: #BDFF00;
  --plasma: #00BFFF;
  --slate: #1C1C1C;
}

body {
  background-color: var(--coal);
  color: var(--chalk);
}
